@import 'App';
@import 'Fonts';


body {
  cursor: url('../../../images/icons/crosshair.png'), default;
}
.Home {
  perspective:2000px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;  

  /* Logo */
  .Logo {
    position:relative;
    top:0;    
    transform-style:preserve-3d;
    display:flex;
    align-items:center;
    width:40vw;

    animation-name:rotateLogo;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;

    /* Layers that give 3d effect */
    img {  
      width:100%;
      position:absolute;
    }
    img:nth-child(2) {
      transform:translateZ(5px);
    }
    img:nth-child(3) {
      transform:translateZ(10px);
    }
    img:nth-child(4) {
      transform:translateZ(15px);
    }
    img:nth-child(5) {
      transform:translateZ(20px);
    }
  }   

  .poison {
    font-family:poison;
    font-size:4vw;
  }
}


/* Logo Spinning Animation */
@include keyframes(rotateLogo) {
  0% {
    transform:rotateY(0deg);
  }  
  100% {
    transform:rotateY(360deg);
  }
}