.overlay-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 200;
  /* Each Half */ }
  .overlay-2 .side {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.25s;
    background: red;
    -webkit-transition-timing-function: cubic-bezier(0.15, 0.505, 0.565, 0.79);
    -moz-transition-timing-function: cubic-bezier(0.15, 0.505, 0.565, 0.79);
    -o-transition-timing-function: cubic-bezier(0.15, 0.505, 0.565, 0.79);
    transition-timing-function: cubic-bezier(0.15, 0.505, 0.565, 0.79);
    /* custom */
    /* Logo */ }
    .overlay-2 .side.left {
      left: 0px;
      clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
      z-index: 5; }
    .overlay-2 .side.right {
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 0%); }
    .overlay-2 .side.sliced.left {
      top: 100%;
      left: -125%;
      transform: rotate(-45deg); }
    .overlay-2 .side.sliced.right {
      top: 100%;
      left: 125%;
      transform: rotate(45deg); }
    .overlay-2 .side img {
      width: 80%;
      height: auto; }
  .overlay-2 .flash {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    background: white;
    animation-name: flash;
    animation-fill-mode: forwards;
    animation-duration: 0.5s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }
