/* Pages */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

/* Get rid of default body margins */
body {
  margin: 0; }

/* Animation Mixin */
