/* Pages */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Animation Mixin */
@font-face {
  font-family: pixel;
  src: url("../../../fonts/pixel.ttf"); }

.Home {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Logo */ }
  .Home .Logo {
    position: relative;
    top: 0;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    width: 40vw;
    animation-name: rotateLogo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* Layers that give 3d effect */ }
    .Home .Logo img {
      width: 100%;
      position: absolute; }
    .Home .Logo img:nth-child(2) {
      transform: translateZ(5px); }
    .Home .Logo img:nth-child(3) {
      transform: translateZ(10px); }
    .Home .Logo img:nth-child(4) {
      transform: translateZ(15px); }
    .Home .Logo img:nth-child(5) {
      transform: translateZ(20px); }
  .Home .poison {
    font-family: poison;
    font-size: 4vw; }

/* Logo Spinning Animation */
@-webkit-keyframes rotateLogo {
  0% {
    transform: rotateY(0deg); }

  100% {
    transform: rotateY(360deg); } }

@-moz-keyframes rotateLogo {
  0% {
    transform: rotateY(0deg); }

  100% {
    transform: rotateY(360deg); } }

@-o-keyframes rotateLogo {
  0% {
    transform: rotateY(0deg); }

  100% {
    transform: rotateY(360deg); } }

@keyframes rotateLogo {
  0% {
    transform: rotateY(0deg); }

  100% {
    transform: rotateY(360deg); } }
