@font-face {
  font-family: pixel;
  src: url("../../../fonts/pixel.ttf"); }

@font-face {
  font-family: gothic;
  src: url("../../../fonts/gothic.ttf"); }

@font-face {
  font-family: bubble;
  src: url("../../../fonts/bubble.ttf"); }

@font-face {
  font-family: guns;
  src: url("../../../fonts/guns.ttf"); }

/* Container */
.Nav {
  position: relative;
  height: auto;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  /* Menu Items */ }
  .Nav .Item {
    position: relative;
    font-family: pixel;
    font-size: 2vw;
    padding: 10px 30px;
    text-align: center;
    /* Hover Content */ }
    .Nav .Item .text {
      color: black; }
    .Nav .Item .after {
      content: '';
      position: absolute;
      color: white;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      left: 0;
      width: 100%;
      z-index: 1;
      height: 0;
      top: 50%;
      padding: 0px 0px;
      transition: 0.2s;
      background: RGB(255, 0, 0); }
    .Nav .Item:hover .after {
      top: 0;
      height: 100%;
      padding: 1px 1px; }
