@font-face {
  font-family: pixel;
  src: url("../../../fonts/pixel.ttf"); }

/* Container */
.Nav {
  position: relative;
  width: 80%;
  height: auto;
  margin-top: 10vw;
  display: flex;
  justify-content: space-around; }
  .Nav .Item {
    position: relative;
    font-family: pixel;
    font-size: 2vw;
    padding: 10px 30px; }
    .Nav .Item .after {
      content: '';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      overflow: hidden;
      left: 0;
      width: 100%;
      background: RGB(255, 0, 0);
      z-index: 1;
      height: 0;
      top: 50%;
      transition: 0.2s; }
    .Nav .Item:hover .after {
      top: 0;
      height: 100%; }
  .Nav .Item:hover {
    cursor: pointer; }
