.Cart {
  .Tab {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background: red;
    z-index: 7;

    .icon {
      width: 25px;
      padding-right: 10px;
      align-self: center;
    }
    .amount {
      padding-right: 15px;

      font-size: 25px;
      font-family: gothic;
      color: white;
    }
  }
}
