.Cart {
  .Tab {
    position: fixed;
    top: 0;
    right: 0;
    &:hover {
      cursor: pointer;
      .background {
        left: -115%;
        color: RGBA(255, 255, 255, 1);
      }
    }
    .background {
      position: absolute;
      top: 0;
      left: 0%;
      width: 115%;
      height: 100%;
      background: red;
      font-family: paint;
      color: RGBA(255, 255, 255, 0);
      display: flex;
      align-items: center;
      padding-left: 10px;
      transition: 0.2s;
      z-index: 7;
    }

    .foreground {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 7px;
      background: red;
      z-index: 8;
      .icon {
        width: 25px;
        padding-right: 10px;
        align-self: center;
      }
      .amount {
        padding-right: 15px;

        font-size: 25px;
        font-family: mexcellent2d;
        font-weight: bold;
        color: white;
      }
    }
  }
}
