.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: RGBA(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  .window {
    position: relative;
    width: 80%;
    height: 80%;
    background: white;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../images/splatters/box.png");
      background-size: cover;
    }

    .section-container {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .section {
        position: relative;
        width: 50%;
        height: 100%;
      }
    }

    .Images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      img {
        flex-grow: 0;
        flex-shrink: 0;
        align-self: center;
        &.selected {
          height: 70%;
          max-width: 95%;
          max-height: 80%;
        }
      }

      .thumb-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .thumb {
          width: 50px;
          margin: 0px 20px;
          &.selected {
            border: 2px solid red;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .Details {
      display: flex;
      flex-direction: column;
      .title {
        font-family: paint;
        font-size: 3vw;
        margin-top: 50px;
        white-space: nowrap;
      }
    }
  }
}
