.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: 0.5s;

  display: none;
  align-items: center;
  justify-content: center;
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: RGBA(0, 0, 0, 0.5);
    z-index: 9;
  }

  .window {
    position: relative;
    width: 80%;
    height: 80%;
    background: white;
    z-index: 11;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../images/splatters/box.png");
      background-size: cover;
    }

    .section-container {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .section {
        position: relative;
        width: 50%;
        height: 100%;
      }
    }

    .Images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      img {
        flex-grow: 0;
        flex-shrink: 0;
        align-self: center;
        &.selected {
          height: 70%;
          max-width: 95%;
          max-height: 80%;
        }
      }

      .thumb-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .thumb {
          width: 50px;
          margin: 0px 20px;
          &.selected {
            border: 2px solid red;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .Details {
      display: flex;
      flex-direction: column;

      .title {
        font-family: paint;
        font-size: 3vw;
        margin-top: 50px;
        white-space: nowrap;
      }

      .note-container {
        padding-left: 1.4em;
        width: 80%;
        .note {
          font-size: 1.7vw;
          font-family: gothic;
          letter-spacing: 0.01em;
          line-height: 1.1em;
        }
      }

      .button-container {
        .button {
          display: inline;
          position: relative;
          top: 50px;

          background: red;
          font-family: paint;
          color: white;
          font-size: 1.25vw;
          padding: 13px 45px;

          transition: 0.1s;
          box-shadow: 0px 0px #9e0000;
          transform: translateY(0px);
          border-radius: 2px;

          &:hover {
            cursor: pointer;
            transition: 0.2s;
            top: 45px;
            box-shadow: 0px 5px #9e0000;
          }
          &:active {
            transition: 0.1s;
            top: 47px;
            box-shadow: 0px 3px #9e0000;
          }
        }
      }
    }
  }
}
