.Shop .Products {
  position: relative;
  width: 90%;
  margin: auto;
  padding-top: 50px;

  .grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;

    .ProductItem {
      flex: 1 1 25%;
      padding: 36px 20px;
      transition: 0.5s;

      .thumbnail {
        width: 100%;
        height: 100%;
      }

      .text {
        font-family: paint;
        text-align: center;
        .name {
          margin-bottom: 10px;
          font-size: 2vw;
        }
        .price {
          font-size: 1.7vw;
          color: #00d400;
        }
      }
    }
  }
}
