.Shop .Products {
  position: relative;
  width: 90%;
  margin: auto;
  padding-top: 50px;

  .grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .cell {
      flex: 1 1 33%;
      padding: 20px 1px;
      .thumbnail {
        width: 100%;
        height: 100%;
      }
    }
  }
}
