/*
  This stylesheet is for everything on the shop
  page BESIDES the product grid ( refer to 
  `./Products.scss` for that. )
*/

$logo-size: 15vw;

.Shop {
  /* Header */
  .Header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    perspective: 1000px;

    .logo-container {
      position: relative;
      width: $logo-size;
      height: $logo-size;
      transform: rotateY(60deg);
      transform-style: preserve-3d;
      animation-name: rotateLogo;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      img {
        position: absolute;
        width: $logo-size;
        height: $logo-size;
        transform: translateZ(0);

        &:nth-child(2) {
          transform: translateZ(4px);
        }
        &:nth-child(3) {
          transform: translateZ(8px);
        }
        &:nth-child(4) {
          transform: translateZ(12px);
        }
      }
    }
  }
  .grid-header {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    border-bottom: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-container {
      margin: auto;
      .title {
        display: inline;
        text-align: center;

        font-family: mexcellent3d;
        font-size: 4vw;
        color: red;
      }
      .death {
        display: inline-block;
        position: relative;
        margin: 0px 27px;

        font-family: death;
        font-size: 7vw;
        color: red;
        transform: translateY(10%);
        &.flipped {
          transform: scaleX(-1) translateY(10%);
        }
      }
    }
  }
}

/* Logo Spinning Animation */
@keyframes rotateLogo {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
