

/* Pages */
.page {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


/* Animations */
@mixin keyframes( $animationName )
{
  @-webkit-keyframes $animationName {
      @content;
  }
  @-moz-keyframes $animationName {
      @content;
  }
  @-o-keyframes $animationName {
      @content;
  }
  @keyframes $animationName {
      @content;
  }
}