
@font-face {
  font-family: pixel;
  src: url('../../../fonts/pixel.ttf');
}

@font-face {
  font-family: gothic;
  src: url('../../../fonts/gothic.ttf');
}

@font-face {
  font-family: bubble;
  src: url('../../../fonts/bubble.ttf');
}

@font-face {
  font-family: guns;
  src: url('../../../fonts/guns.ttf');
}
