.Contact {
  /* Header Stuff */
  /* Form Stuff */ }
  .Contact .title-container {
    text-align: center; }
    .Contact .title-container .text {
      padding-top: 100px;
      font-family: mexcellent3d;
      color: red;
      font-size: 4.5vw; }
    .Contact .title-container .death {
      font-family: death;
      color: red;
      font-size: 25vw;
      margin-bottom: -13vw; }
    .Contact .title-container img {
      max-width: 18%; }
  .Contact .Form {
    padding-top: 50px; }
    .Contact .Form .input-text {
      font-family: gothic;
      font-size: 30px;
      padding: 10px 20px;
      color: black; }
    .Contact .Form .field {
      display: block;
      width: 80%;
      margin: auto;
      margin-bottom: 50px;
      border: 1px solid #C2C2C2;
      border-radius: 5px; }
    .Contact .Form .submit-button {
      display: block;
      margin: auto;
      margin-bottom: 250px;
      width: 10vw;
      height: 3.5vw;
      background: red; }
      .Contact .Form .submit-button .text {
        position: relative;
        font-family: pixel;
        font-size: 2vw;
        color: white;
        text-align: center;
        top: 50%;
        transform: translateY(-50%); }
        .Contact .Form .submit-button .text .die {
          display: inline;
          font-family: death; }
      .Contact .Form .submit-button:hover {
        cursor: pointer; }
    .Contact .Form input {
      height: 40px; }
    .Contact .Form textarea {
      height: 400px;
      resize: none; }
