.Contact {
  /* Header Stuff */
  /* Form Stuff */ }
  .Contact .title-container {
    text-align: center; }
    .Contact .title-container .text {
      padding-top: 100px;
      font-family: mexcellent3d;
      color: red;
      font-size: 4.5vw; }
    .Contact .title-container .death {
      font-family: death;
      color: red;
      font-size: 25vw;
      margin-bottom: -13vw; }
    .Contact .title-container img {
      max-width: 18%; }
  .Contact .Form {
    padding-top: 50px; }
    .Contact .Form input {
      display: block;
      width: 80%;
      height: 40px;
      margin: auto;
      border: 1px solid #C2C2C2;
      border-radius: 5px;
      font-family: pixel;
      font-size: 30px;
      padding: 10px 20px;
      color: black; }
