

.About {  
  overflow-y:scroll;

  /* Everything below the header */
  .content {
    position:relative;
    width:100%;
    height:100%;    
    padding-top:50px;

    /* Descriptive Text */
    .desc {
      
      position:relative;
      width:80%;
      margin:auto;          

      font-family:napo;
      font-size:3vw;
      text-align:center;
      color:black;

      margin-bottom:50px;

      img {
        position:relative;
        width:20vw;
        display:inline;
      }
    }
  }
}

@keyframes spinAnim {
  0% {
    transform:rotateY(0deg);
  }
  100% {
    transform:rotateY(360deg);
  }
}
@keyframes gunAnim {
  0% {
    color:red;
  }
  25% {
    color:white;
  }
  50% {
    color:#00FFF2;
  }
  75% {
    color:#FBFF00;
  }
  100% {
    color:red;
  }
}