

.About {  
  background:red;  

  .header {
    position:relative;
    top:0;
    left:0;
    width:100%;    
    perspective:500px;

    .title-container {   
      padding-top:50px;
      display:flex;
      align-items:center; 
      justify-content: center;      

      img {   
        width:25vw;
      }
    }

    .drip {
      position:absolute;
      top:0;
      left:0;
      width:100%;      
      height:100%;

      background-image:url('../../../images/misc/drip.png');
      background-size:20%;
      background-repeat: repeat-x;
    }
  }


  .content {
    font-size:2.5vw;
    color:white;
    text-align:center;
    width:50%;
    margin:auto;
    font-family:gothic;
    padding-bottom:100px;
  }

}
