

.About {  

  .header {
    position:relative;
    top:0;
    left:0;
    width:100%;

    .title-container {
      margin-top:50px;
      padding-bottom:50px;

      .text {
        font-family:gothic;
        font-size:4.5vw;
        text-align:center;
      }
    }
  }

}
