

.About {  
  overflow-y:scroll;

  cursor: url('../../../images/icons/middle-finger.png') 16 16 , default !important;

  /* Everything below the header */
  .content {
    position:relative;
    width:100%;
    height:100%;    
    padding-top:50px;

    perspective:750px;

    /* Descriptive Text */
    .desc {
      
      position:relative;
      width:80%;
      margin:auto;
      margin-bottom:250px;          

      font-family:arvin;
      font-size:3vw;
      text-align:center;
      color:black;      
    }

    /* Border Columns */
    .image-column {
      position:absolute;
      top:0;
      left:0;
      width:50px;      
      height:100%;

      background-image:url('../../../images/misc/crosshair.png');
      background-size:100%;
      &.right {
        left:100%;
        transform:translateX(-100%);
      }      
    }

    /* photo */
    .photo {      
      display:block;
      position:relative;
      top:0px;
      width:20%;
      margin:auto;    
      margin-bottom:50px;

      animation-name:spinImage;
      animation-iteration-count:infinite;
      animation-duration:2s;
      animation-timing-function:linear;
    }
  }
}

@keyframes spinAnim {
  0% {
    transform:rotateY(0deg);
  }
  100% {
    transform:rotateY(360deg);
  }
}
@keyframes gunAnim {
  0% {
    color:red;
  }
  25% {
    color:white;
  }
  50% {
    color:#00FFF2;
  }
  75% {
    color:#FBFF00;
  }
  100% {
    color:red;
  }
}

@keyframes spinImage {
  0% {transform:rotateY(0deg)}
  100% {transform:rotateY(360deg)}
}