

.Gallery {

  .Header {
    position:relative;
    top:0;
    left:0;
    width:100%;

    .title-container {      
      width:100%;
      display:flex;
      flex-direction:column;
      align-items:flex-start;
      padding-top:50px;
      padding-left:75px;

      .title {
        font-size:50px;
        font-family:hunt;
        color:red;        
      }

      img {
        transform:scale(0.5) translateX(-50%) translateY(-75%);
      }
    }
  }  
}