
.Page-Nav {
  position:relative;
  left:0;
  width:100%;
  z-index:6;
  background:white;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  padding-bottom:10px;

  .item-container {
    display:flex;

    position:relative;
    margin-right:0px;    

    .item {
      display:flex;
      align-items:center;

      margin-top:1.5vw;
      margin-right:1.5vw;
      margin-bottom:5px;

      .text {
        font-family:paint;
        color:red;
        font-size:2vw;
        text-decoration:none;
      }

      &:hover {
        cursor:pointer;
      }

      .seperator {
        margin-left:1.5vw;
        margin-right:2.5vw;        
        transform:translateX(100%) translateY(15%);

        font-family:death;  
        color:red;  
      }
    }
  }  
  img {
    margin-right:25px;
    width:30vw;
    height:35px;
  }
}