
.Page-Nav {
  position:relative;
  left:0;
  width:100%;
  z-index:6;
  background:white;
  display:flex;
  flex-direction:column;
  align-items:flex-end;

  .item-container {
    display:flex;

    position:relative;
    margin-right:0px;    

    .item {
      display:flex;
      align-items:center;

      margin-top:1.5vw;
      margin-right:1.5vw;
      margin-bottom:5px;

      .text {
        position:relative;
        font-family:paint;
        color:red;
        font-size:2vw;
        text-decoration:none;

        &:after {
          content:'';
          position:absolute;
          top:50%;
          left:50%;
          width:0%;
          height:20%;
          background:red;
          transition:0.2s;
        }

        &:hover {
          cursor:pointer;
          &:after {left:-10%;width:110%;}
        }
      }      

      .seperator {
        margin-left:1.5vw;
        margin-right:2.5vw;        
        transform:translateX(100%) translateY(15%);

        font-family:death;  
        color:red;  
      }
    }
  }  
  img {
    margin-right:25px;
    width:20vw;
    height:35px;
  }
}