
.Page-Nav {
  position:relative;
  left:0;
  width:100%;
  z-index:6;
  background:white;
  display:flex;
  justify-content: flex-end;

  .item-container {
    display:flex;

    position:relative;
    margin-right:50px;    

    .item {
      margin-top:50px;
      margin-right:50px;
      margin-bottom:50px;

      font-family:paint;
      color:red;
      font-size:30px;
    }
  }
}