.About .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: fixed;
  background-size: 55%;
  z-index: -1; }
.About .text {
  color: white; }
.About .title {
  position: relative;
  margin-top: 50px;
  color: white;
  font-size: 8vw;
  font-family: bubble;
  text-align: center; }
