.About .content {
  position: relative;
  top: 205px;
  /* Right below the header */ }

@keyframes spinAnim {
  0% {
    transform: rotateY(0deg); }

  100% {
    transform: rotateY(360deg); } }

@keyframes gunAnim {
  0% {
    color: red; }

  25% {
    color: white; }

  50% {
    color: #00FFF2; }

  75% {
    color: #FBFF00; }

  100% {
    color: red; } }
