/* About Page Header */
.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Title / Guns */ }
  .Header .wave-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; }
    .Header .wave-container .bar-height {
      position: relative;
      top: 100%;
      transform: translateY(-100%);
      animation-name: wave;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(0.28, 0.335, 0.515, 0.955);
      -moz-animation-timing-function: cubic-bezier(0.28, 0.335, 0.515, 0.955);
      -o-animation-timing-function: cubic-bezier(0.28, 0.335, 0.515, 0.955);
      animation-timing-function: cubic-bezier(0.28, 0.335, 0.515, 0.955);
      /* custom */ }
      .Header .wave-container .bar-height .bar {
        width: 100%;
        height: 100%;
        animation-name: color;
        animation-delay: inherit;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite; }
  .Header .title-container {
    /* Text */
    position: relative;
    top: 0;
    left: 0;
    padding-top: 50px;
    width: 50%;
    margin: auto;
    perspective: 800px;
    /* Guns */ }
    .Header .title-container .title {
      font-size: 8vw;
      font-family: hunt;
      text-align: center;
      color: black; }
    .Header .title-container .underline {
      background: white;
      width: 80%;
      height: 1px;
      margin: auto; }
    .Header .title-container .gun-container {
      position: absolute;
      top: 50px;
      left: 5%;
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .Header .title-container .gun-container .spinner {
        animation-name: spinAnim;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-style: preserve-3d; }
        .Header .title-container .gun-container .spinner .gun {
          font-size: 8vw;
          font-family: guns;
          animation-name: gunAnim;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear; }

@keyframes wave {
  0% {
    height: 0; }

  50% {
    height: 75%; }

  100% {
    height: 0%; } }

@keyframes color {
  0% {
    background: #FF00C8; }

  25% {
    background: #00EEFF; }

  50% {
    background: #FFE600; }

  75% {
    background: #00FF22; }

  100% {
    background: #FF00C8; } }
