

.Contact {
  
  /* Header Stuff */
  .title-container {
    text-align:center;

    .text { 
      padding-top:100px;

      font-family:mexcellent3d;
      color:red;
      font-size:4.5vw;
    }

    .death {
      font-family:death;
      color:red;
      font-size:25vw;
      margin-bottom:-13vw;
      user-select:none;
    }

    img {
      max-width:18%;
    }
  }  

  /* Form Stuff */
  .Form {
    padding-top:50px;

    .input-text {
      font-family:gothic;
      font-size:30px;
      padding:10px 20px;
      color:black;
    }

    .field {
      display:block;
      width:80%;      
      margin:auto;    
      margin-bottom:50px;  

      border:1px solid #C2C2C2;
      border-radius:5px;      
      
      transition: 0.5s;      
      &::placeholder {
        transition:0.5s;
      }
    }

    .submit-button {
      display:block;
      margin:auto;
      margin-bottom:250px;

      width:20vw;
      height:3.5vw;
      background:red;

      transition:0.2s;

      .text {
        position:relative;
        font-family:gothic;
        font-size:2vw;
        color:white;        

        text-align:center;
        top:50%;
        transform:translateY(-50%);

        transition:inherit;

        .die {
          display:inline;
          font-family:death;
        }
      }  
      
      &:hover {
        cursor:pointer;
        background:black;
        .text {
          color:red;
        }
      }
    }
    
    .invalid {
      border:1px solid red;
      
      &::placeholder {
        color:red;
      }
    }

    input {
      height:40px;      
    }
    textarea {
      height:400px;
      resize:none;
    }
  }  
}