

.Contact {
  
  .title-container {
    text-align:center;

    .text { 
      padding-top:100px;

      font-family:mexcellent3d;
      color:red;
      font-size:4.5vw;
    }

    .death {
      font-family:death;
      color:red;
      font-size:25vw;
      margin-bottom:-13vw;
    }

    img {
      max-width:18%;
    }
  }  
}