

.Success {
  position:fixed;
  display:none;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:1;

  opacity:0;
  transition:0.5s;

  background:RGBA(0,0,0,0.9);

  /* Showing Up */
  &.shown {
    opacity:1;
  }

  .content {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    opacity:0;
    transform:translateY(100px);
    transition:0.5s;

    &.shown {
      opacity:1;
      transform:translateY(0px);
    }

    width:100%;
    height:100%;

    .die {      
      font-family:death;
      font-size:25vw;
      color:white;
      text-shadow:0px 0px 10px RGBA(255,0,0,0.8);
    }

    .text {
      color:red;
      font-size:4vw;
      font-family:mexcellent2d;
      
      margin-bottom:60px;
    }

    .button {
      position:relative;
      color:red;
      font-family:gothic;
      font-size:3vw;
      padding:12px 75px;
      border:2px solid red;
      border-radius:5px;
      overflow-y:hidden;

      &:hover {
        cursor:pointer;

        &:after {
          opacity:1;         
        }
      }

      &:after {
        content:'k';                
        position:absolute;
        top:0;
        left:0;

        width:100%;
        height:100%;
        background:red;
        opacity:0;
        overflow-y:hidden;

        color:white;

        display:flex;
        align-items: center;
        justify-content: center;
        
        font-family:death;
        font-size:5vw;
        padding-top:0.5vw;

        transition:0.2s;        
      }
    }
  }

  .skull {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    opacity:0;    
    
    font-family:death;
    font-size:10vw;
    color:#6E6E6E;
    z-index:2;
    
    transition:1s;        

    &.shown {
      opacity:1;

      animation-name:skullAnim;
      animation-duration:1.5s;
      animation-fill-mode:forwards;
      animation-delay:0.5s;
      animation-timing-function: linear;
      
    }
  }
}

@keyframes skullAnim {
  0% {
    color:#6E6E6E;
    transform:translateX(-50%) translateY(-50%) scale(1);
  }
  100% {
    color:#8A2E2E;
    transform:translateX(-50%) translateY(-50%) scale(1.1);
  }
}